[mysqld]
bind-address = 0.0.0.0
event_scheduler=ON
skip-name-resolve        
sql_mode = STRICT_ALL_TABLES 
log_error = /var/log/mysql/error.log  
max_connections = 200    
innodb_flush_log_at_trx_commit = 1 

